{% extends "shared/_base.html" %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Climbing Project</h1>
    <p class="lead text-muted">Welcome. Here you can find photos and videos of climbing routes.</p>

  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for location in locations %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <h3 class="card-title ml-2 mt-2">{{ location.name }}</h3>
          <div class="card-image-wrapper">
            <img class="card-img" src="{{ location.pictures.first.image.url }}" alt="{{ location.name }} Image">
          </div>
          <div class="card-body">

            <p class="card-text">{{ location.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
